<head>
<style>
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding:8px;
}




</style>


<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


</head>
<body>


<div class="container">
  
  <button type="button" class="btn btn-success" style="background: rgba(32, 182, 85, 0.55)" data-toggle="collapse" data-target="#formulario">Buscar por etiqueta</button>
  <div id="formulario" class="collapse hiden">
  				<%= form_tag(questions_buscare_path, method: :get) do %>
				              <div style="overflow-x:auto;">
				              	<table >
									  <div class="field">
									    <% Tag.all.each do |tag| %> 
									      
									      <% if tag.marca == false %>
									       
									         <td> <%= check_box_tag 'tag_ids[]', tag.id %> </td>
									         <td><%= tag.nombre %> <br></td>
									      
									      <% end %>
									     
									    <% end %>  
									  </div>
								</table>
				              </div>
				              <%= submit_tag "Buscar" %>

				              <% end %>
  </div>
</div>
			

            

</body>
