<br>
<center><h2><strong>Editar pregunta</strong></h2></center>
<center><h5><%= link_to 'Volver a la pregunta', @question %></h5></center>
<% if current_user.id == @question.user.id %>
<center><h5><%= link_to 'Volver a mis preguntas', questions_mispreguntas_path %></h5></center>
<% end %>
<%= render 'form', question: @question %>

