<br>
<h2>
  <strong>Titulo:</strong>
  <%= @question.Titulo %>
</h2>

<h4>
  <strong>Descripcion:</strong>
  <%= @question.descripcion %>
</h4>

<br>
<div class="field">
<h4><strong>Respuestas:</strong></h4>
<ul> 
<% @question.answers.each do |answer| %>      
      <li>
        <%= answer.descripcion %>
      </li>
<%end%>
 </ul>

<%= render "answers/form" %>

</div>


