<h1>Editing Comment Report Question</h1>

<%= render 'form', comment_report_question: @comment_report_question %>

<%= link_to 'Show', @comment_report_question %> |
<%= link_to 'Back', comment_report_questions_path %>
