<h1>Denuncias dadas por respuestas inapropiadas</h1>
<% if @answer_reports.size == 0 %>
  <h4><strong>Vaya! Todavia no hay denuncias aqui!</strong></h4>
<% else %>
<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answer_reports.each do |answer_report| %>
      <tr>
        <td><%= answer_report.titulo %></td>
        <td><%= link_to 'Ver respuesta denunciada',answer_report.answer %></td>
        <td><%= link_to 'Eliminar denuncia', answer_report, method: :delete, data: { confirm: 'Estas seguro de eliminar la denuncia?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>
<%= link_to 'Volver al menu de reportes', reports_index_path %>