<h1>Editing Comment Report Answer</h1>

<%= render 'form', comment_report_answer: @comment_report_answer %>

<%= link_to 'Show', @comment_report_answer %> |
<%= link_to 'Back', comment_report_answers_path %>
