<h1>Agregando nueva ayuda</h1>

<%= render 'form', help: @help %>


<div>
            <%= link_to helps_path,  class: "like", method: :get do %>
            <p><button class="btn btn-success"><span class="badge">Volver atras</span>
            </button></p>
          <% end %>
        </div>
