<%= form_for([@answer, @comment_answer]) do |form| %>
  <% if @comment_answer.errors.any? %>
    <div id="error_explanation">
      <h2> Ooops hubo un error al crear el comentario!</h2>

      <ul>
      <% comment_answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :descripcion, id: :comment_answer_descripcion %>
  </div>

 

  <div class="actions">
    <%= form.submit "Comenta!", class: "btn btn-primary" %> 
  </div>
<% end %>
