<h1>Editar comentario</h1>

<%= render 'form', comment_answer: @comment_answer %>

<%= link_to 'Ver respuesta', @comment_answer.answer %> |
<%= link_to 'Volver a la pregunta', @comment_answer.answer.question %>