<p id="notice"><%= notice %></p>

<p><h1>Universidad con mas preguntas</h1>  <form>
   <input type="button" value="Volver atr치s" name="volver atr치s2" onclick="history.back()" /> 
</form></p>
<div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ubicacion</th>
      <td> Cantidad de preguntas</td>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @universities.each do |university| %>
      <tr>
        <td><%= university.nombre %></td>
        <td><%= university.ubicacion %></td>
        <td><%= university.questions_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<form>
                            
   <input type="button" value="volver atr치s" name="volver atr치s2" onclick="history.back()" />
                            
</form>
