<header>
          <nav  class="navbar navbar-default" role="navigation" style="background-color: #81BEF7;">
          
          <!-- El logotipo y el icono que despliega el menú se agrupan
               para mostrarlos mejor en los dispositivos móviles -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                          data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Desplegar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= image_tag "logo.png", title: "Logo", class: "logo" %>
                <a class="navbar-brand" href="#"> </a>
            </div>
          


          <p class="navbar-text pull-right">
               Usuario : <a href="#" class="navbar-link">No resgistrado</a>
          </p>

          <p class="navbar-text pull-right">
               
                <a href="userlogins#new" class="navbar-link">Ingresar como usuario</a>
          </p>


          <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">  
                   <li ><a href="users#new">Registrarse</a></li>
                </ul>
             
                <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar una pregunta">
                  </div>
                  <button type="submit" class="btn btn-default">Enviar</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                       <li ><a href="#">Ayuda</a></li>
                </ul>
          </div>

      </nav>
</header>